.timer {
    display: flex;
    height: 200px;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 50px;

}

.timer__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 40px;
}

.timer__button-start {
    width: 150px;
    height: 50px;
}

.timer__button-stop {
    width: 150px;
    height: 50px;
}

.timer__counter {
    font-size: 2rem;
    margin-left: 20px;
  }